[Unit]
Description=Grafana Tempo
Wants=network-online.target observability-network.service
After=network-online.target observability-network.service

[Container]
Image={{ image_tempo }}
ContainerName=tempo
Network=observability.network
Volume=tempo-data.volume:/var/lib/tempo:Z
Volume={{ observability_config_dir }}/tempo/tempo.yaml:/etc/tempo/tempo.yaml:ro,Z
EnvironmentFile={{ observability_secrets_dir }}/s3.env

Exec=-config.file=/etc/tempo/tempo.yaml -config.expand-env=true

User=10001
Group=10001

PodmanArgs=--memory=5g --memory-swap=5g

[Service]
Restart=on-failure
RestartSec=10
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target default.target
